PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOAIBAAJAZ8VHVp/SPuGcX471UQhi/NsdwryYJkBjCxJzlrtU8X68pLp3mTyE\nXbrLqVgz57QMi8/j8Rq9n+072ppkc7lQ9wIDAQABAkBbfjY66ykdZiBQpKQo8SMN\n3EfuJghkWYq5/WfKs5reXQeD1k4LzWaS0+OE+XcYpODLzNtEO3dILYZZwqjelIQR\nAiEAp3RCyxw/kRWup/b1Yil+zEViX/nuaDdn9wVJaHa16MkCIQCepGFIgNGBJA2V\nC0JgGoKreUbUR2LdYLy+XapTCQALvwIgEFO/p3oroIPSscHcjyOon1Ysj1sZKcQt\nOOKlE7BvcDECIF+JKJjMEt7NgmxuYmOTs3tmRpRSBSTCPAf8SjVFJ0TrAiAS+Bxn\nayAtMBAoSZK3R5rLTGsGzSNdkZ6ZM+7EyzkuQA==\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFswDQYJKoZIhvcNAQEBBQADSgAwRwJAZ8VHVp/SPuGcX471UQhi/NsdwryYJkBj\nCxJzlrtU8X68pLp3mTyEXbrLqVgz57QMi8/j8Rq9n+072ppkc7lQ9wIDAQAB\n-----END PUBLIC KEY-----"
DATABASE_URL=mongodb://127.0.0.1:27017/mydb